.container{
    padding: 3%;
}
.form-group{
    width: 70%;
}
.form-group h2{
   
    font-weight: 600;
    font-size: 22px;
}
.form-group label{
    font-size: 18px;
    color: #21323c;
    font-weight: 590;
}
.form-group input:focus,.form-group textarea:focus{
    outline: none;
    box-shadow: none;
}
.form-group button{
    background-color: #89abbd;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 20px;
    padding: 1%;
    width: 15%;
    float: inline-end;
    border: none;
}