<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-md-left">
        <div class="row text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Lifetime Furniture</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium voluptates maxime nulla autem, ut nam dolores consequatur doloribus voluptas voluptatem repellendus, numquam ad distinctio impedit aperiam et earum sunt architecto!
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Products</h5>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Special Offers Product</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Furniture</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Home Appliances</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Chair</a>
                </p>

            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful Links</h5>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Home</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Products</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Offers</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">About</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Help</a>
                </p>

            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful Links</h5>
                <p>
                    <i class="fas fa-home mr-3"></i> &nbsp; LifeTime Furniture , Near Lanja city
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> &nbsp; Programmerabhi@gmail.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> &nbsp;  +91 8007893054
                </p>
                <p>
                    <i class="fas fa-print mr-3"></i> &nbsp;  +01 333 456 876
                </p>


            </div>
            

        </div>
        <hr class="mb-4">
        <div class="row align-items-center">
            <div class="col-md-4 col-lg-8">
                <p>Copyright &#169;2023 All rights Reserved by:
                    <a href="#" style="text-decoration: none;">
                    <strong class="text-warning">Team04</strong></a>
                </p>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline ">
                        <li class="list-inline-item ">
                            <a href="#" class="btn-floating btn-sm text-white " style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>