<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylish Product Card</title>
    
</head>
<body>
    <div class="product-card">
        <img src="https://img.freepik.com/premium-photo/photo-classic-modern-sofa-isolated-white-background_763111-23154.jpg?size=626&ext=jpg&ga=GA1.2.1307809747.1693925122&semt=ais" alt="Product Image">
        <h2 class="product-title">Sofa</h2>
        <p class="product-description">This is a stylish product description.</p>
        <p class="product-price">$19.99</p>
        <button class="buy-button">Add to cart</button>
    </div>
</body>
</html>